.main{
    box-shadow: 5px 10px 10px 5px gray;
}
hr{
    background-color: black;
}
.tag{
    font-size: 24px;
    position: absolute;
    top: -1.5%;
    font-weight:bolder;
}
.tag_img{
    background-color: #d2d2d2;
    height: 200px;
}
.arrow{
    text-align: center;
    font-size: 48px;
    color: blue;
}
